section {
  margin-left: 2em;
  margin-right: 2em;
}

header {
  text-align: center;
}
#cuentaCarrito {
  cursor: pointer;
}
#articulos {
  display: flex;
  flex-wrap: wrap;
}
section {
  margin: 1em;
}
.card {
  width: 18em;
  margin: 1em;
}

.card .imagen {
  min-height: 200px;
  display: flex;
  align-items: center;
}

.card .imagen img {
  max-height: 200px;
}

.card .titulo {
  padding-top: 0.5em;
  text-align: center;
}

.card .precio {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0em;
}

.card .card-text {
  line-height: 1em;
}

.card .descripcion {
  height: 2em;
}

footer {
  margin: 1em;
  text-align: center;
}

.navbar {
  background-color: rgb(0, 0, 0);
}

.navbar a {
  color: rgba(255, 255, 255, 0.9);
}

.navbar a:hover {
  color: rgba(255, 255, 255);
}

.navbar-text {
  color: rgba(255, 255, 255, 0.9);
}

.btn {
  margin-right: 1em;
}

.navbar.sticky-top.navbar-expand-lg {
  padding: 0;
}

nav a {
  text-decoration: none;
}
.modal .list-group .list-group-item .imagen {
  grid-area: imagen;
}
.modal .list-group .list-group-item .texto {
  font-size: small;
  grid-area: texto;
  margin: 0.5em;
}

.modal .list-group .list-group-item .texto .total {
  font-weight: bold;
  font-size: large;
  margin: 0.5em;
}

.modal .list-group .list-group-item .cantidad {
  grid-area: cantidad;
  margin: 0.5em;
}
.modal .list-group .list-group-item .precio {
  
  font-weight: bold;
  grid-area: precio;
  margin: 0.5em;
}
.modal .list-group .list-group-item .eliminar {
  grid-area: eliminar;
  color: rgb(216, 22, 22);
  margin: 0.5em;
  cursor: pointer;
}
.modal .list-group .list-group-item {
  display: grid;
  grid-template-columns: 20% 35% 15% 25% 5%;
  align-items: center;
  grid-template-areas: "imagen texto cantidad precio eliminar";
}

.modal .list-group .list-group-item .imagen img {
  max-width: 5em;
}

.modal .list-group .list-group-item .texto .nombre {
  font-weight: bold;
}

#modalAgregar .modal-dialog {
  top: 10em;
}

#checkOut{
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

#checkOut .list-group .list-group-item .imagen {
  grid-area: imagenCheckOut;
}
#checkOut .list-group .list-group-item .texto {
  font-size: small;
  grid-area: textoCheckOut;
  margin: 0.5em;
}

#checkOut .list-group .list-group-item .texto .total {
  font-weight: bold;
  font-size: large;
  margin: 0.5em;
}

#checkOut .list-group .list-group-item .cantidad {
  font-weight: bold;
  grid-area: cantidadCheckOut;
  margin: 0.5em;
}
#checkOut .list-group .list-group-item .precio {
  
  font-weight: bold;
  grid-area: precioCheckOut;
  margin: 0.5em;
}

#checkOut .list-group .list-group-item {
  display: grid;
  grid-template-columns: 30% 35% 15% 20%;
  align-items: center;
  grid-template-areas: "imagenCheckOut textoCheckOut cantidadCheckOut precioCheckOut";
}

#checkOut .list-group .list-group-item .imagen img {
  max-width: 8em;
}

#checkOut .list-group .list-group-item .texto .nombre {
  font-weight: bold;
}